    flask flask-bcrypt 
    flask-migrate 
    flask-sqlalchemy 
    flask-login 
    python-decouple 
    pyotp 
    flask-wtf 
    email-validator
    psycopg2-binary
    gunicorn
    requests
    python-dotenv
    flask-mail
    flask-cors
 