{% extends "_base.html" %}

{% block content %}
<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <main class="form-signin w-100 m-auto">
      <form method="post">
        {{ form.csrf_token }}
        <h1 class="h3 mb-3 fw-normal text-center">Recuperar contraseña</h1>
        <div class="form-floating mb-2">
            {{ form.email(class="form-control", placeholder="Correo electrónico") }}
            <!-- Campo de entrada para el correo electrónico -->
          {{ form.email.label }}
          {% for error in form.email.errors %}
            <div class="alert alert-danger">{{ error }}</div>
          {% endfor %}
        </div>
        <button class="w-100 btn btn-lg btn-primary" type="submit">{{ form.submit.label.text }}</button>
        <p class="text-center mt-3"><a href="{{ url_for('accounts.login') }}">Volver al inicio de sesión</a></p>
      </form>
    </main>
  </div>
  <div class="col-md-4"></div>
</div>
{% endblock %}
{% block js %}
{% endblock %}
