{% extends "_base.html" %}

{% block content %}
<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <!-- Contenedor principal del formulario de restablecimiento de contraseña -->
    <main class="form-signin w-100 m-auto">
      <form method="post">
        {{ form.csrf_token }} <!-- Token CSRF para seguridad -->
        <h1 class="h3 mb-3 fw-normal text-center">Nueva contraseña</h1>
        <!-- Campo para la nueva contraseña -->
        <div class="form-floating mb-2">
          {{ form.password(class="form-control", placeholder="Nueva contraseña") }}
          {{ form.password.label }} <!-- Etiqueta del campo -->
          {% for error in form.password.errors %}
            <div class="alert alert-danger">{{ error }}</div> <!-- Mensajes de error -->
          {% endfor %}
        </div>
        <!-- Campo para confirmar la nueva contraseña -->
        <div class="form-floating mb-2">
          {{ form.confirm_password(class="form-control", placeholder="Confirmar contraseña") }}
          {{ form.confirm_password.label }} <!-- Etiqueta del campo -->
          {% for error in form.confirm_password.errors %}
            <div class="alert alert-danger">{{ error }}</div> <!-- Mensajes de error -->
          {% endfor %}
        </div>
        <!-- Botón para enviar el formulario -->
        <button class="w-100 btn btn-lg btn-primary" type="submit">{{ form.submit.label.text }}</button>
      </form>
    </main>
  </div>
  <div class="col-md-4"></div>
</div>
{% endblock %}
{% block js %}
{% endblock %}